@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.playWrite {
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.robotoCondensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}